@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap');

// figure out how to get the various boldings
$nunito: 'Nunito Sans', sans-serif;
$royal-blue-dark: #00297A;
$light-gray: #DBE5E6;
$middle-blue: #80CED7;
$medium-turquiose: #63C7B2;
$forest-green-traditional: #143109;
html {
	position: relative;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: $nunito;
    font-size: 12px;
    
}

a {
	text-decoration: none;
	color: inherit
}
