
div#add-user-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    div#add-user-modal {
        background-color: white;
        border-radius: 10px;
        color: black;
        display: flex;
        flex-direction: column;
        
        width: 300px;
        height: 250px;

        #header {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            #title {
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 10px;
                
            }
        }

        form {
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            label {
                margin-bottom: 10px;
                font-size: 16px
                
            }
            input {
                height: 35px;
                font-size: 20px;
            }
            button {
                margin-top: 20px;
                height: 40px;
                background-color: $royal-blue-dark;
                color: white;
                font-size: 20px;
                border-radius: 5px;
            }

            button:hover {
                background-color: $royal-blue;
            }
        }

    }
}



