// $royal-blue-dark: #00297A;
// div {
//     font-weight: 300;
//     color: $royal-blue-dark;
// }

$royal-blue-dark: #00297a;
$royal-blue-dark-transparent: #00297ad3;
$light-gray: #DBE5E6;
$middle-blue: #80CED7;
$medium-turquiose: #63C7B2;
$forest-green-traditional: #143109;

div#session-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    header {
        margin-top: 50px;
        
        img {
            height: 40px;
            vertical-align: middle;
            margin-right: 10px
        }

        span.sackforce-name {
            vertical-align: middle;
            font-size: 35px
        }
        nav {
            position: absolute;
            text-align: right;
            top: 50px;
            right: 100px;
            font-size: 16px;
            div#link-to-create {
                margin-top: 7px;
                font-weight: bold;
                color: $forest-green-traditional;
            }
        }
    }
    
    div#session-form-body {
        margin-top: 40px;

        h1 {
            font-size: 50px;
            margin-bottom: 10px;
            font-weight: bold
        }

        span {
            font-size: 16px;
        }

        form {
            margin-top: 30px;
            
            input {
                border: 1.5px solid $royal-blue-dark;
                border-radius: 3px; 
                width: 330px;
                margin-top: 15px;
                height: 36px;
                font-size: 18px;
            }

            input:focus {
                box-shadow: 0 0 0 4px $medium-turquiose
            }
            
            button {
                margin-top: 15px;
                height: 40px;
                width: 337px;
                background-color: $royal-blue-dark;
                color: white;
                font-size: 18px;
                border-radius: 3px;
            }

            button:hover {
                background-color: $royal-blue-dark-transparent
            }

            div.login-error {
                display: inline-block;
                border-radius: 3px;
                background-color: rgba(255, 0, 0, 0.123);
                border: 0.5px solid rgba(255, 0, 0, 0.801);
                height: 40px;
                width: 337px;
                text-align: center;
                vertical-align: middle;
                line-height: 40px;

            }

        }
    }

    // a {
    //     text-decoration: none;
    //     color: inherit
    // }

    footer {
        display: flex;
        position: absolute;
        bottom: 30px;
        width: 300px;
        margin-top: 450px;
        align-items: center;
        justify-content: space-between;
        img {
            width: 35px;
        }
    }

}